apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
  namespace: webapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: europe-west4-docker.pkg.dev/prueba-track-devops-mmog/webapp-repo/webapp:v1
          ports:
            - containerPort: 8080
          env:
            - name: GCS_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: webapp-config
                  key: GCS_BUCKET_NAME
          resources:
            requests:
              cpu: "0.25"
              memory: "256Mi"
            limits:
              cpu: "1.0"
              memory: "512Mi"
